html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
    z-index:1;
}

.finishGameBkg_Overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    animation: fadeout 0.2s;
    animation-fill-mode: forwards;
    background-color: rgba(255,255,255,0);
    z-index:10;
    display:none;
}

@keyframes fadeout {
	100% {
		background-color: rgba(255,255,255,1);
	}
}

.finishGameMsg_Overlay {
	font-family: 'Open Sans', sans-serif;
    width: 309px;
    text-align: center;
    background-color: #FFFFFFFF;
    z-index: 11;
    line-height: 8px;
    position: absolute;
    top: 200px;
    display: none;
}

.finishGameMsg_Overlay h2 {
	padding-bottom: 5px;
}

button.playAgain {
    padding: 6px 20px;
    background-color: #00B9A9;
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 5px;
}

button.playAgain:hover {
	cursor: pointer;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Standard syntax */


h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
	transition: transform 0.3s;
    transform: rotateY(180deg);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.correct {
    animation-name: correctEffect;
    animation-duration:0.5s;
}

@keyframes correctEffect {
	0% {transform:scale(1,1);transform-origin: center center;}
	25% {transform:scale(1.3,0.7);transform-origin: center center;}
	50% {transform:scale(0.8,1.2);transform-origin: center center;}
	75% {transform:scale(1.1,0.9);transform-origin: center center;}
	100% {transform:scale(1,1);transform-origin: center center;}

}

.deck .card.wrong {
    background-color: red;
    animation-name: wrongEffect;
    animation-duration:0.3s;
}

@keyframes wrongEffect {
	0% {transform:rotate(0deg);transform-origin:center bottom;}
	20% {transform:rotate(-20deg);transform-origin:center bottom;}
	50% {transform:rotate(2.5deg);transform-origin:center bottom;}
	75% {transform:rotate(-10deg);transform-origin:center bottom;}
	100% {transform:rotate(0deg);transform-origin:center bottom;}
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
    display: inline-block;
    padding-right: 10px;
}

.score-panel .timeContainer {
	float: right;
	display: block;
	position: inline;
	padding-right: 50px;
}

timeContainer.timer {
	padding:auto 5px;
}

/*breakpoint for screen below 660px */
@media screen and (max-width:660px) {
	.container {
		width:100vw;
	}
	.deck {
		width:100vw;
		min-height:100vw;
		padding:2vw;
	}
	.deck .card{
		height:20vw;
		width:20vw;
	}
	header {
		width: 50vw
	}
	header>h1 {
		font-size:7vw
	}
	.score-panel{
		width:100vw;
		font-size:4vw;
	}
	.score-panel .timeContainer{
		padding-right:4vw;
	}
	.finishGameMsg_Overlay{
		width:100vw;
	}
	.finishGameMsg_Overlay>h2{
		font-size:6vw;
	}
	.finishGameMsg_Overlay>p{
		font-size:5vw;
	}
	button.playAgain {
		padding: 3vw 8vw;
		font-size: 4vw;
	}
}